<h1>{{ goal.goal_text }}</h1>
<h3>Finish Date: {{ goal.finish_date }}</h3>
<h3>Create Date: {{ goal.create_date }}</h3>
<h3>Priority {{ goal.priority }}</h3>
<h3>State {{ goal.state }}</h3>
<ul>
{% for subgoal in goal.subgoal_set.all %}
    <li><a href="{% url 'detail_sub_goal' goal.id subgoal.id%}" name=>{{ subgoal.goal_text }}</a></li>
{% endfor %}
</ul>
<h4>New Sub Goal</h4>
<form action="{% url 'new_sub_goal' goal.id %}" method="get">
    <input type="submit" value="New Sub Goal" />
</form>
<h4>Modify Goal</h4>
<form action="{% url 'modify_goal' goal.id %}" method="get">
    <input type="submit" value="Modify Goal" />
</form>
<h4>Delete Goal</h4>
<form action="{% url 'delete_goal' goal.id %}" method="get">
    <input type="submit" value="Delete Goal" />
</form>

<h4>Comments</h4>

<div class="comments list" style = "background-color:white; width:40%;
                                    border-radius:3px">
{% for comment in comments %}
    <div class="comment" style ="border: 1px solid #777777; border-radius: 5px;
                                 padding: 0px 0px 0px 10px; margin:10px 0px;">
    <p>{{ comment.text }}</p>
    <span class="comment-subtext" style="font-size: 11px;">
    {{ comment.owner }} - {{ comment.create_date }}
    </span>
    </div>
{% endfor %}
</div>
