{% extends 'login/base.html' %}

{% block content %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title> Modify Sub Goal </title>
</head>
    <h1> Modify Sub Goal: {{subgoal.goal_text}}</h1>
  <body>
    <form action="{% url 'modify_sub_goal' goal.id subgoal.id%}" method="post">{% csrf_token %}
      <p> Description <input name="goal_text" size=40 value="{{ subgoal.goal_text }}"> </p>
      <p> Deadline <input name="finish_date" size=40 type="date" value="{{ subgoal.finish_date| date:"Y-m-d"}}"> </p>
      <p> Priority
      <input type="radio" name="priority" value="H" > High
      <input type="radio" name="priority" value="M"checked> Medium
      <input type="radio" name="priority" value="L"> Low  </p>
      <p> State
      <input type="radio" name="state" value="PROGRESS" checked> In Progress
      <input type="radio" name="state" value="PROPOS"> Proposed
      <input type="radio" name="state" value="FINISH"> Finished </p>
      <p> <input type="submit" value="Submit"> </p
    </form>
  </body>
</html>
{% endblock %}
