{% extends 'login/base.html' %}

{% block content %}

{% if goals %}

    {% if actives %}
        <h3>Actives Goals</h3>
        <ul>
        {% for goal in actives %}
            <li><a href="{% url 'detail' goal.id %}" name=>{{ goal.goal_text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <br></br>
    {% if finished %}
        <h3>Finished Goals</h3>
        <h4>You have finished Goals, do you want to pospose any?</h4>
        <ul>
        {% for goal in actives %}
            <li><a href="{% url 'detail' goal.id %}" name=>{{ goal.goal_text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h3>All Goals</h3>
    <ul>
    {% for goal in goals %}
        <li><a href="{% url 'detail' goal.id %}" name=>{{ goal.goal_text }}</a></li>

    {% endfor %}
    </ul>
{% else %}
    <p>You dont have Goals</p>
{% endif %}

<br></br>
<form action="{% url 'new_goal' %}" method="get">
    <input type="submit" value="New Goal" />
</form>


{% endblock %}
