{% extends 'login/base.html' %}
{% block content %}
<form action="" method="POST", enctype = "multipart/form-data">
<h2> Añadir Archivo </h2>

{% if archivo_viejo %}
	<h5 style="color:blue"> {{ archivo_viejo}} </h5>
{% endif %}

{% if mensaje_error %}
	<h3 style="color:red"> {{ mensaje_error }} </h3>
{% endif %}

{% for field in form %}
<br>

{% if not field.is_hidden %}
<h5>{{ field.label_tag }}</h5> 
{{ field }}
{% else %}
{{ field }}
{% endif %}

{% endfor %}
<br> <h5> <button type='submit'>Save</button> </h5>

{% csrf_token %}
{% endblock %}
